* {
  margin: 0;
  padding: 0;
}
.main-header {
  background: #aaccfe;
  width: 100%;
  height: 15vh;
  top: 0;
  display: flex;
  align-items: center;
}
.main-header__title {
  font-size: 32px;
  font-weight: bold;
  padding-left: 40px;
  color: #101050;
}

.main-content {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  height: 85vh;
  padding: 0 5%;
  box-sizing: border-box;
}

.main-content__section {
  min-width: 500px;
  /* height: calc(100vh - 90px); */
  /* height: 70vh; */
  display: inline-block;
  padding: 5%;
  box-sizing: border-box;
}

.main-content__section--list {
  background: #aaccfe;
  border-radius: 25px;
  /* margin: 5% 5% 0 10%; */
  /* width: 35%; */
}
.main-content__section--list-header {
  background: #5e9eff;
  border-radius: 25px 25px 0px 0px;
}
.main-content__section--list-title {
  padding: 5% 0 5% 6%;
  font-size: 26px;
  font-weight: 500;
}
.main-content__section--list-task-add {
  padding: 5% 6% 5% 6%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.main-content__section--list-task-add-button {
  background-color: #ffbb6a;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content__section--list-img-add {
  width: 100%;
  height: 100%;
}
.edit {
  background-color: #5e9eff;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img__edit {
  width: 80%;
  height: 80%;
}
.delete {
  background-color: #ff6666;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img__delete {
  width: 80%;
  height: 80%;
}

.list__task {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  padding: 0 0 5% 0;
}

.main-content__section--list-completed-task-label {
  text-decoration: line-through;
  color: #888;
  background: rgba(238, 238, 238, 0.5);
  border-radius: 8px;
  padding: 0 5px;
}

/* reference */
li * {
  float: left;
}
button {
  background: none;
  border: 0px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
button:hover {
  color: #333;
}

input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 8px;
  font-family: Lato, sans-serif;
  color: #888;
}
input[type="text"]:focus {
  color: #333;
}

/* Task list */
li > input[type="checkbox"] {
  margin: 0 10px;
  position: relative;
  /* top: 15px; */
  transform: scale(3);
}
li > label {
  font-size: 18px;
  line-height: 40px;
  width: 237px;
  /* width: 60%; */
}
li > input[type="text"] {
  /* width: 226px; */
  width: 216px;
}
li > .delete:hover {
  color: #cf2323;
}

/* Edit Task */
ul li input[type="text"] {
  display: none;
}

ul li.editMode input[type="text"] {
  display: block;
}

ul li.editMode label {
  display: none;
}
